header {
    min-height: 90px;
    width:100%;
    background-color: gold;
    
}

#logo{
    width: 90px;
    height: 90px;
    float: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    size: 100%;
    background-color: tomato;
}

#container {
    margin-left: 5cm;
    margin-right: 5cm;
}